html, body {
    height: 100%;
  }
  
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: #fafbfd;
    min-height: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #nav {
    background: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  
  #body {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .primary-color {
    color: #41cf7c;
  }
  
  .negative-color {
    color: #fe5001;
  }
  
  .ui.loader:after {
    border-color: #1153fc transparent transparent !important;
  }

  .ui.secondary.menu {
    border-bottom: 1px solid #ececec;
  }
  
  .item__active {
    background: rgba(0, 0, 0, 0.03) !important;
  }
  
  .select__logo {
    width: 15px;
    margin-right: 5px;
    position: relative;
    top: 2px;
  }
  
  .select__name {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 15.5px;
  }
  
  #v-select.v-select {
    border: #000;
  }
  
  .search.link.icon {
    background: linear-gradient(to bottom right,#567ff3,#1153fc);
    color: #FFF;
    width: 1.8em !important;
    opacity: 1 !important;
  }
  
  @media screen and (max-width: 512px) {
    .item.name {
      display: none !important;
    }
  }

  .home {
    width: 100%;
    margin-top: 60px;
  }
  
  .ui.grid.home {
    margin: 0 15px;
    width: 100%;
  }
  
  .ui.segment.banner {
    background: linear-gradient(to bottom right,#56f3e5,#fc11ea);
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
  
    height: 60px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ui.segment.header {
    color: #a7a7a7;
    background: inherit;
    font-size: 14px;
    font-weight: bold;
  
    box-shadow: none;
    border: 0;
  }
  
  .ui.segment.header.non-desktop {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .ui.segment.header.desktop {
      display: none;
    }
  
    .ui.segment.header.non-desktop {
      display: block;
    }
  
    .ui.grid .coin-market {
      display: none !important;
    }
  
    .ui.segment.banner {
      font-size: 12px;
    }
  }

.ui.segment.coin {
  font-size: 14px;
  font-weight: 500;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  border: 0.4px solid rgba(34, 36, 38, 0.15);
  border-bottom: 0;
  cursor: pointer;
}

.ui.segment.coin:hover {
  width: 100.5%;
  margin: 0 -5px;

  .segment__primary {
    color: #ffa226 !important;
  }
}

.ui.segment .ui.grid {
  height: 60px;
  align-items: center;
}

.segment__bold {
  color: #000;
}

.segment__primary {
  color: #1153fc;
}

.segment__positive {
  color: #4bcb52;
}

.segment__negative{
  color: #ff4641;
}

.segment__crypto-logo {
  height: 15px;
  position: relative;
  top: 2px;
}

.ui.segment.non-desktop {
  display: none;
}

@media screen and (max-width: 768px) {
  .ui.segment.desktop {
    display: none;
  }

  .ui.segment.non-desktop {
    display: block;
  }

  .ui.segment.coin {
    font-size: 13.0px;
  }
}
.ui.segment.coin {
  font-size: 14px;
  font-weight: 500;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  border: 0.4px solid rgba(34, 36, 38, 0.15);
  border-bottom: 0;
  cursor: pointer;
}

.ui.segment.coin:hover {
  width: 100.5%;
  margin: 0 -5px;

  .segment__primary {
    color: #ffa226 !important;
  }
}

.ui.segment .ui.grid {
  height: 60px;
  align-items: center;
}

.segment__bold {
  color: #000;
}

.segment__primary {
  color: #1153fc;
}

.segment__positive {
  color: #4bcb52;
}

.segment__negative{
  color: #ff4641;
}

.segment__crypto-logo {
  height: 15px;
  position: relative;
  top: 2px;
}

.ui.segment.non-desktop {
  display: none;
}

@media screen and (max-width: 768px) {
  .ui.segment.desktop {
    display: none;
  }

  .ui.segment.non-desktop {
    display: block;
  }

  .ui.segment.coin {
    font-size: 13.0px;
  }
}
